@import './src/styles/base/base';

$field-error-color: $color-wild-watermelon;
$field-background-color: $color-white;
$field-border-color: $color-ghost;
$field-focused-border-color: $color-fiord;
$field-disabled-color: $color-iron;
$label-color: $color-gray-chateau;
$placeholder-text-color: $color-ghost;
$label-font-weight: 700;
$field-font-size: 1.4rem;
$label-font-size: $field-font-size;

.container {
    background: $field-background-color;
    display: flex;
    flex-direction: column;
    font-family: $font-roboto;
}

.field {
    background: $field-background-color;
    border: 1px solid $field-border-color;
    border-radius: 5px;
    font-size: $field-font-size;
    height: 4.8rem;
    padding: 1.3rem 1.6rem;
}

.field::placeholder {
    color: $placeholder-text-color;
    text-transform: capitalize;
}

.field:focus {
    border-color: $field-focused-border-color;
    outline: none;
}

.fieldError {
    border-color: $field-error-color;
}

.errorMessage {
    color: $field-error-color;
    font-weight: $font-weight-medium;
    line-height: 1.5;
    padding-top: 0.8rem;
    text-transform: uppercase;
}

.field:disabled {
    border-color: $field-disabled-color;
    color: $field-disabled-color;
}

.field:disabled::placeholder {
    color: $field-disabled-color;
}

.label {
    color: $label-color;
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    line-height: 1.6;
    padding-bottom: 0.8rem;
    text-transform: uppercase;
}

.labelIsDisabled {
    color: $field-disabled-color;
}
