@import './src/styles/base/base';

$field-error-color: $color-wild-watermelon;
$field-background-color: $color-white;
$field-border-color: $color-ghost;
$field-focused-border-color: $color-fiord;
$field-disabled-color: $color-iron;
$label-color: $color-gray-chateau;
$placeholder-text-color: $color-ghost;
$label-font-weight: 700;
$field-font-size: 0.875rem;
$error-font-size: 0.625rem;
$label-font-size: $field-font-size;

.container {
    background: $field-background-color;
    display: flex;
    flex-direction: column;
    font-family: $font-roboto;
    padding: 0;
}

.field {
    background: $field-background-color;
    border: 1px solid $field-border-color;
    border-radius: 0.313rem;
    font-size: $field-font-size;
    height: 3rem;
    order: 1;
    padding: 0.813rem 1rem;
}

.field::placeholder {
    color: $placeholder-text-color;
    line-height: 1.375rem;
    text-transform: capitalize;
}

.field:focus {
    border-color: $field-focused-border-color;
    outline: none;
}

.fieldError {
    border-color: $field-error-color;
}

.errorMessage {
    color: $field-error-color;
    font-size: $error-font-size;
    font-weight: $font-weight-medium;
    line-height: 150%;
    order: 3;
    padding-top: 8px;
    text-transform: uppercase;
}

.field:disabled {
    border-color: $field-disabled-color;
    color: $field-disabled-color;
}

.field:disabled::placeholder {
    color: $field-disabled-color;
}

.label {
    color: $label-color;
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    line-height: 114%;
    order: 0;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.labelIsDisabled {
    color: $field-disabled-color;
}
