@import '../../styles/base/typography';
@import '../../styles/base/button';

$btn-primary-large-font-size: 1.4rem;

.btn {
    align-items: center;
    border: 0;
    cursor: pointer;
}

.primary {
    background: $btn-primary-background-color;
    border-radius: 65px;
    color: $btn-primary-font-color;
    padding: 0.9rem 1rem;

    &.large {
        font-size: $btn-primary-large-font-size;
        padding: 1.4rem 2;
    }

    &:hover,
    &:focus {
        background: $btn-primary-hover-background-color;
    }

    &:active {
        background: $btn-primary-active-background-color;
    }

    &:disabled {
        background: $btn-primary-disabled-background-color;
        color: $btn-primary-disabled-font-color;
    }
}

.text {
    background-color: $btn-txt-background-color-inherit;
    border: 0;
    color: $btn-txt-default-text-color;
    line-height: 1.125rem;

    &:hover,
    &:focus {
        color: $btn-txt-hover-focus-text-color;
    }

    &:active {
        color: $btn-txt-active-text-color;
    }

    &:disabled {
        color: $btn-txt-disabled-text-color;
    }
}

.action {
    background: $btn-action-primary-background-color;
    border-radius: 12px;
    color: $btn-action-dark-text-light;
    padding: 0.5rem;

    &.large {
        padding: 0.625rem;
    }

    &.secondary {
        background: $btn-action-secondary-background-color;
    }

    &.reverse {
        background: $btn-action-duo-color-background-color;
        color: $btn-action-light-text-dark;
    }
}
