$button-main-background-color: #6e44ff;
$button-main-font-color: #fff;
$button-hover-background-color: #5836cc;
$buttton-active-background-color: #462ca3;
$button-disabled-background-color: #edeff1;
$button-disabled-font-color: #9ea7b3;
$button-large-font-size: 0.875rem;
$button-medium-font-size: 0.75rem;

.btn {
    background: $button-main-background-color;
    border: 0;
    border-radius: 65px;
    color: $button-main-font-color;
    cursor: pointer;
    font-weight: 500;

    &.Large {
        font-size: $button-large-font-size;
        padding: 0.875rem 1.25rem;
    }

    &.Medium {
        font-size: $button-medium-font-size;
        padding: 0.563rem 0.625rem;
    }

    &:hover,
    &:focus {
        background: $button-hover-background-color;
    }

    &:active {
        background: $buttton-active-background-color;
    }

    &:disabled {
        background: $button-disabled-background-color;
        color: $button-disabled-font-color;
    }
}
