$flaot-btn-background-black: #050504;
$flaot-btn-background-grey: #1f2d3d;
$flaot-btn-background-light-grey: #e5e9f2;
$float-btn-dark-text-white: #fff;
$flaot-btn-light-text-black: #050504;

.floatBtnX {
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    padding: 0.625rem;

    &.Black {
        background: $flaot-btn-background-black;
        color: $float-btn-dark-text-white;
    }

    &.Grey {
        background: $flaot-btn-background-grey;
        color: $float-btn-dark-text-white;
    }

    &.LightGrey {
        background: $flaot-btn-background-light-grey;
        color: $flaot-btn-light-text-black;
    }
}

.floatBtn {
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    padding: 0.5rem;

    &.Black {
        background: $flaot-btn-background-black;
        color: $float-btn-dark-text-white;
    }

    &.Grey {
        background: $flaot-btn-background-grey;
        color: $float-btn-dark-text-white;
    }

    &.LightGrey {
        background: $flaot-btn-background-lightGrey;
        color: $flaot-btn-light-text-black;
    }
}
