@import './src/styles/base/base';

.eatOutSection {
    margin-bottom: $space-between-sections;
}

.newPlacesTop {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
    margin-top: $space-between-sections;
    width: 100%;

    &Title {
        display: inline-block;
    }
}

.newPlacesSlidesContainer {
    margin: 0 -1.2rem;
    margin-bottom: $space-between-sections;
}
