@import './src/styles/base/base';

.dashboardSection {
    margin-bottom: $space-between-sections;

    &:nth-child(1) {
        display: flex;
        justify-content: space-between;
    }
}

.storiesPostContainer {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 4.8rem;
    justify-content: center;
    margin-top: 2.4rem;
}
