@import './src/styles/base/base';

.listBox {
    column-gap: $flex-column-gap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 2.4rem;
}
