@charset "utf-8";

@import 'base/base';
@import 'mixins/mixins';

@import 'print';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: $default-font-color;
    font-family: $font-roboto;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
}

.elementIsHidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
