@import './src/styles/base/base';

$font-size-small: 1.4rem;

.ratingWrapper {
    align-items: center;
    background: $color-energy-yellow;
    border-radius: $border-l;
    display: flex;
    height: 3.2rem;
    justify-content: space-evenly;

    .starsOne {
        display: flex;
    }

    .ratingNumber {
        color: $color-mine-shaft;
        font-size: $font-size-small;
        font-weight: $font-weight-semibold;
    }
}
