@import './src/styles/base/base';

.card {
    background-color: $color-tiara;
    display: inline-block;
    height: 47.7rem;
    width: 41.6rem;
}

.rating {
    height: 3.2rem;
    width: 6.5rem;
}
