.masonryGrid {
    display: flex;
    margin-left: -5rem;
    width: auto;
}

.masonryGridColumn {
    background-clip: padding-box;
    padding-left: 5rem;
}

.masonryGridColumn > div section {
    margin-bottom: 30px;
}
