@import 'colors';
@import 'typography';
@import 'config';
@import 'z-index';
@import 'borders';
@import 'shadows';

html {
    color: $default-font-color;
    font-family: $font-roboto;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
}
