$btn-primary-background-color: #6e44ff;
$btn-primary-font-color: #fff;
$btn-primary-hover-background-color: #5836cc;
$btn-primary-active-background-color: #462ca3;
$btn-primary-disabled-background-color: #edeff1;
$btn-primary-disabled-font-color: #9ea7b3;
$btn-primary-medium-font-size: 0.75rem;
$btn-primary-large-font-size: 0.875rem;

$btn-txt-default-text-color: #6a7889;
$btn-txt-hover-focus-text-color: #3e5067;
$btn-txt-active-text-color: #001836;
$btn-txt-disabled-text-color: #c5d1d4;
$btn-txt-background-color-inherit: inherit;

$btn-action-primary-background-color: #050504;
$btn-action-secondary-background-color: #1f2d3d;
$btn-action-duo-color-background-color: #e5e9f2;
$btn-action-dark-text-light: #fff;
$btn-action-light-text-dark: #050504;
