$color-black: #000;
$color-white: #fff;
$light-gray-medium: #f6f7f8;
$color-mirage: #1f2d3d;
$default-font-color: $color-mirage;
$color-violet-primary: #6e44ff;
$color-violet-secondary: #5836cc;
$color-violet-active: #462ca3;
